<%- include("./partials/header.ejs") %>
    <%- include("./partials/navbar.ejs") %> 
    <div class='container-fluid flex-wrap d-flex justify-content-center'>
        <% posts.forEach(post => { %>
            <div class='card m-3' style='min-width: 100px; width: 18rem;'>
                <img src='<%=post.image%>' class='card-img-top' alt='project image' height="250px"/>
                <div class='card-body'>
                    <h2 class='card-title h5'><%= post.title %></h2>
                    <p class='card-text'>Example text for what should describe the project</p>
                    <a href='/posts/<%=post.id%>?require=false' class='btn btn-primary'>Go to project!</a>
                </div>
            </div>
        <% }) %>
    </div>

    <%- include("./partials/footer.ejs") %> 