<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>
<div class = "container-fluid">
    <h1 class = "ml-5">Update Profile</h1>
    <div class = "form-group mx-auto w-75">
        <form action = "/users/profile?_method=PUT" method = "POST" enctype= "multipart/form-data">
            <div class = "form-group">
                Name: <input type="text" name="name" value = "<%=user.name%>" class = "form-control">
            </div>
            <div class = "form-group">
                Username: <input type="text" name="username" value = "<%=user.username%>" class = "form-control">
            </div>
            <div class = "form-group">
                Password: <input type="password" name="password" value = "<%=user.password%>" class = "form-control">
            </div>
            <div class = "form-group">
                Bio:<textarea name = "bio" class = "form-control" id="bioInput" rows = "3" placeholder = "Bio"><%=user.bio%></textarea>
            </div>
            <div class = "form-group">
                Profile Picture:
                <div class = "input-group">
                    <div class='col-md-4 align-self-center input-group-prepend'>
                        <img src='<%=user.profileImg%>' class='img-thumbnail' alt='user profile picture'> 
                    </div>
                </div>
                    <input type = "file" accept = "image/*" name = "profileImg" class = "form-control-file"/>
            </div>            
            <button type="submit" class = "btn btn-lg btn-primary">Update Profile</button>
        </form>
        <br>
        <div class = "form-group">
            <button type = "submit" class = "btn btn-lg btn-danger" data-toggle = "modal" data-target="#confirmDelete">Delete Profile</button>
        </div>
    </div>
</div>
<div class = "modal fade" tabindex = "-1" role = "dialog" id = "confirmDelete" aria-labelledby = "confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-confirm" role = "document">
        <div class = "modal-content">
            <div class = "modal-header d-flex flex-column">
                <button type="button" class = "close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class = "mx-auto display-1 text-danger">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                </div>
                <h3 class = "modal-title w-100 text-center" id= "confirmDeleteLabel">Are you sure?</h3>
                
            </div>
            <div class = "modal-body w-75 mx-auto text-center text-muted">
                <p>Do you really want to quit sharing your creations and delete your profile?</p>
            </div>
            <div class = "modal-footer w-75 mx-auto d-inline-flex justify-content-around">
                <button type="button" class = "btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action = "/users/profile?_method=DELETE" method = "POST">
                    <button type="submit" class = "btn btn-danger">Delete Profile</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>