<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %> 

<h1>Make a New Post</h1>

<form action='/posts/new' method='POST' enctype = "multipart/form-data">
    Title: <input type="text" name="title">
    Blurb Text: <input type='text' name='titleBlurb'>
    Content: <input type="text" name="content">
    Image: <input type="file" accept = "image/*" name="image">
    <br>Category: <br>
    <%for (let i = 0; i<allCategories.length; i++) { %>
        <label>
            <input type = "checkbox" name = "selectedCategories" value = "<%=allCategories[i].id%>"> <%=allCategories[i].name%>
        </label>
        <% } %>
    <input type="submit" value="Submit">
</form>

<%- include("../partials/footer.ejs") %>