<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %> 

<h1>Make a New Post</h1>

<form action='/posts/new' method='POST'>
    Title: <input type="text" name="title">
    Content: <input type="text" name="content">
    Image Link: <input type="text" name="image">
    <br>Category: <br>
    <%for (let i = 0; i<categories.length; i++) { %>
        <label>
            <input type = "checkbox" name = "selectedCategories" value = "<%=categories[i].id%>"> <%=categories[i].name%>
        </label>
        <% } %>
    <input type="submit" value="Submit">
</form>

<%- include("../partials/footer.ejs") %>