<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %> 
<div class = "container pb-5">
    <h1> <%= post.title %> </h1>
    <h3 class = "h5 text-muted">Created By: 
        <%if(post.User){ %>
            <a href="/users/profile/<%=post.User.username%>?require=false"><%=post.User.username%></a> <% } else { %> 
                A Former Creator
                <% } %>
    </h3>
    <div class = "container" style="height: 50vh;">
        <img src="<%=post.image%>" alt = "Project Image" class = "d-block h-100 mx-auto">
    </div>
    <div class = "container-fluid d-flex">
        <a href='/posts/<%=post.id%>/like'>
            <button type="submit" class = "btn " >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                Like
            </button>
        </a>
        <p class = "m-3">Likes: <%=post.Like.length%></p>
    </div>
    
    
    <div class = "container-fluid blockquote">
        <p> <%= post.content %> </p>
    </div>
    <br><br>
    <div class = "container-fluid text-center">
        <h3>Comments</h3>
        <ul class = "list-group w-75 mx-auto text-left">
            <% post.Comments.sort((a,b) => b.CommentLike.length - a.CommentLike.length).forEach(comment => { %>
                <li class = "list-group-item"><%=comment.text%> <br>--
                <%if(!comment.User) {%> 
                    A Former Creator 
                <% } else { %>
                     <a href="/users/profile/<%=comment.User.username%>?require=false"><%=comment.User.username%></a>
                <% } %>
                <br><a href='/posts/<%=post.id%>/likecomment/<%=comment.id%>'>Like</a> | <%= comment.CommentLike.length %> Likes </li> 
        <% }) %>
        </ul>
        <% if(user) { %>
            <% if(post.userId === user.id) {%>
            <a href='/posts/<%=post.id%>/edit'>Edit Post</a><br>
            <form onsubmit = 'return confirm("Do you want to delete this post?")' action='/posts/<%=post.id%>?_method=DELETE' method='POST'>
                <input type="submit" value="Delete Post">
            </form>
        <% }} %>
        <br><br>
        <form action='/posts/<%=post.id%>/comment' method='POST' class = "w-75 mx-auto form-group">
            <h4>Comment:</h4>
            <textarea type="text" name="text" class = "form-control" rows = "3"></textarea>
            <br>
            <input type="submit" class = "btn btn-primary" value="Submit">
        </form>
        
    </div>
    
</div>



<%- include("../partials/footer.ejs") %>