<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %> 

<h1> <%= post.title %> </h1>
<img src="<%=post.image%>" alt = "Project Image">
<h3>Created By: 
    <%if(post.User){ %>
        <%=post.User.username%><% } else { %> 
            Redacted
            <% } %>
</h3>
<form action='/posts/<%=post.id%>/like' method='POST'>
    <input type="submit" value="Like">
</form> 
Likes: <%=post.Like.length%>


<p> <%= post.content %> </p><br><br>

<form action='/posts/<%=post.id%>/comment' method='POST'>
    Comment Text: <input type="text" name="text">
    <input type="submit" value="Submit">
</form><br><br>

<ul>
    <% post.Comments.forEach(comment => { %>
        <li><%=comment.text%> -- <%=comment.User.username%> </li>
    <% }) %>
</ul>
<% if(user) { %>
    <% if(post.userId === user.id) {%>
    <a href='/posts/<%=post.id%>/edit'>Edit Post</a><br>
    <form onsubmit = 'return confirm("Do you want to delete this post?")' action='/posts/<%=post.id%>?_method=DELETE' method='POST'>
        <input type="submit" value="Delete Post">
    </form>
<% }} %>
<a href = "/">Go Home</a>

<div id="map" style='height:500px; width: 50%'></div>

<script>
    var map;
    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
    });

    new google.maps.Marker({
        position: {lat: -34.397, lng: 150.644},
        map,
        title: 'This marker'
    })
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkI6D2lfATOlMrdchg5S9lOQ2bXauOXeg&callback=initMap" async defer></script>

<%- include("../partials/footer.ejs") %>